<h1 style="color: blue;">Commande Validée</h1>
<p>Votre commande #{{ order_id }} pour un montant total de {{ total }} TND a été enregistrée avec succès.</p>
<a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
