{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des Clients</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Numéro de téléphone</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{client.phoneNumber}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}