{% extends 'base.html.twig' %}

{% block title %}Ajouter Produit{% endblock %}

{% block body %}
    <h1>Ajouter Produit</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}